.home-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    padding: 20px;
}

.posts-container {
    width: 90%;
    margin: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.post {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    margin-bottom: 10px;
    padding: 0 10px 10px;
}

.post-header {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.author {
    margin: 0;
    padding: 0;
}

.author-name {
    font-weight: 900;
}

.content {
    text-align: left;
}
